<head>
  <% if (model.environment.production) { %>
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-141231909-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-141231909-1");
  </script>
  <% } %>
  <meta charset="utf-8" />
  <meta name="description" content="<%= model.metaDescription %>" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <% if (model.environment.production) { %>
  <meta name="monetization" content="$ilp.uphold.com/UHNWGWxfXkNk" />
  <% } %>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  <title><%= model.title %></title>
  <link
    rel="preload"
    href="/scripts/<%= model.version %>/script.js"
    as="script"
    crossorigin="anonymous"
  />
  <link rel="canonical" href="<%= model.canonical %>/<%= model.slug %>" />
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
    integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA"
    crossorigin="anonymous"
  />
  <!-- Custom styles -->
  <link href="/styles/styles.min.css?v=<%= model.version %>" rel="stylesheet" />
  <% if (model.environment.production && model.showAds) { %>
  <link
    rel="preload"
    href="/scripts/<%= model.version %>/adHandler.js"
    as="script"
    crossorigin="anonymous"
  />
  <script
    async
    src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"
  ></script>
  <script>
    window.googletag = window.googletag || { cmd: [] };
    var ad1, ad2, ad3, ad4, ad5, ad6;
    googletag.cmd.push(function () {
      ad1 = googletag
        .defineSlot(
          "/21824035744/ad1",
          [300, 250],
          "div-gpt-ad-1594590368753-0"
        )
        .addService(googletag.pubads());

      ad2 = googletag
        .defineSlot(
          "/21824035744/ad2",
          [300, 250],
          "div-gpt-ad-1594592993659-0"
        )
        .addService(googletag.pubads());

      ad3 = googletag
        .defineSlot(
          "/21824035744/ad3",
          [300, 250],
          "div-gpt-ad-1594593287536-0"
        )
        .addService(googletag.pubads());

      ad4 = googletag
        .defineSlot(
          "/21824035744/default",
          [300, 250],
          "div-gpt-ad-1594948951800-0"
        )
        .addService(googletag.pubads());

      ad5 = googletag
        .defineSlot(
          "/21824035744/default-2",
          [300, 250],
          "div-gpt-ad-1594949450110-0"
        )
        .addService(googletag.pubads());

      ad6 = googletag
        .defineSlot(
          "/21824035744/default-3",
          [300, 250],
          "div-gpt-ad-1594949816248-0"
        )
        .addService(googletag.pubads());
      googletag.pubads().disableInitialLoad();
      googletag.enableServices();
    });
  </script>
  <% } %>
</head>
