<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('partials/head'); -%>
  <!-- body -->
  <body class="text-center d-flex">
    <div class="d-flex w-100 p-3 mx-auto flex-column">
      <!-- header -->
      <%- include('partials/header'); -%>
      <div class="container">
        <div class="row">
          <!-- main -->
          <main class="main">
            <article>
              <h1 class="cover-heading mb-5"><%= model.title %></h1>
              <!-- pageMeta -->
              <%- postMeta %>
              <!-- mainContent-->
              <%- mainContent %>
              <!-- comments -->
              <%- comments %>
            </article>
          </main>
          <aside class="sidebar">
            <!-- ad unit-->
            <%- include('partials/ad-unit'); -%>
            <!-- ad unit-->
            <%- include('partials/ad-unit'); -%>
            <!-- ad unit-->
            <%- include('partials/ad-unit'); -%>
            <div class="position-sticky">
              <!-- ad unit-->
              <%- include('partials/media-net', {id: 253719207}); -%>
              <!-- subscribe -->
              <%- include('partials/subscribe-form'); -%>
              <!-- ad unit-->
              <%- include('partials/media-net', {id: 564003572}); -%>
            </div>
          </aside>
        </div>
      </div>
      <!-- footer -->
      <%- include('partials/footer'); -%>
    </div>
    <!-- scripts -->
    <%- include('partials/scripts'); -%>
  </body>
</html>
