<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('partials/head'); -%>
  <!-- body -->
  <body class="text-center">
    <div class="d-flex w-100 p-3 mx-auto flex-column">
      <!-- header -->
      <%- include('partials/header'); -%>

      <h1 class="cover-heading mb-5"><%= model.title %></h1>

      <div class="container">
        <div class="row">
          <!-- main -->
          <main class="col-md-8">
            <!-- pageMeta -->
            <%- postMeta %>
            <!-- mainContent-->
            <%- mainContent %>
          </main>
          <!-- aside -->
          <aside class="col-md-4">
            <div class="mb-5">
              <!-- aside1 -->
              <ins
                class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-6747903070938911"
                data-ad-slot="4081932233"
                data-ad-format="auto"
                data-full-width-responsive="true"
              ></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
            <div class="mb-5">
              <!-- aside2 -->
              <ins
                class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-6747903070938911"
                data-ad-slot="6448282379"
                data-ad-format="auto"
                data-full-width-responsive="true"
              ></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
          </aside>
        </div>
        <div class="row mb-5">
          <div class="col-md-8">
            <!-- comments -->
            <%- comments %>
          </div>
        </div>
      </div>
      <!-- footer -->
      <%- include('partials/footer'); -%>
    </div>
    <!-- scripts -->
    <%- include('partials/scripts'); -%>
  </body>
</html>
