<!DOCTYPE html>
<html lang="en">
  <%- include(config.folders.layouts.path + '/partials/head') %>
  <body>
    <div class="content-wrapper">
      <%- include(config.folders.layouts.path + '/partials/header') %>
      <div class="cover-container">
        <!-- main -->
        <main class="main">
          <article>
            <h1><%= model.title %></h1>
            <!-- mainContent-->
            <%- model.content %>
          </article>
        </main>
      </div>
      <!-- footer -->
      <%- include(config.folders.layouts.path + '/partials/footer') %>
    </div>
    <script
      type="module"
      src="/scripts/<%= config.version %>/script.js"
    ></script>
  </body>
</html>
