<% if(model.posts && model.posts.length) { %>
<section class="mx-auto text-center blog-links">
  <% model.posts.forEach(function(post,index) { %>
  <div class="card bg-light mb-3">
    <div class="card-body">
      <a tabindex="-1" href="<%= post.slug %>" class="d-block mb-3 card-title">
        <h2><%= post.title %></h2></a
      >
      <div class="d-flex justify-content-center">
        <p class="mx-1">created: <%= post.createdDate %></p>
        <p class="mx-1">updated: <%= post.modifiedDate %></p>
      </div>
      <p class="card-text">
        <%= post.metaDescription.slice(0,post.metaDescription.indexOf(" ", 120))
        %>...
      </p>
      <a href="<%= post.slug %>">Read Post</a>
    </div>
  </div>
  <% }); %>
</section>
<% } %>
