<% if(model.posts && model.posts.length) { %>
<section class="mx-auto text-center blog-links">
  <% model.posts.forEach(function(post,index) { %>
  <div class="card bg-light mb-3">
    <div class="card-body">
      <a href="<%= post.slug %>" class="d-block mb-3 card-title">
        <h2><%= post.title %></h2></a
      >
      <div class="d-flex justify-content-center">
        <p class="mx-1">created: <%= post.createdDate %></p>
        <p class="mx-1">updated: <%= post.modifiedDate %></p>
      </div>
      <p class="card-text">
        <%= post.metaDescription.slice(0,post.metaDescription.indexOf(" ", 140))
        %>...
      </p>
      <a href="<%= post.slug %>">Read Post</a>
    </div>
  </div>
  <!-- only show sometimes -->
  <% if(index % 3 == 0 ) { %>
  <div class="mb-5">
    <ins
      class="adsbygoogle"
      style="display:block; text-align:center;"
      data-ad-layout="in-article"
      data-ad-format="fluid"
      data-ad-client="ca-pub-6747903070938911"
      data-ad-slot="5663209858"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <% } %> <% }); %>
</section>
<% } %>
